@import url('https://fonts.googleapis.com/css?family=Fira+Sans:600,700');

* {
    font-family: 'Fira Sans', sans-serif;
    box-sizing: border-box;
}

h1{
    /* text-decoration: underline red; */
    border-bottom: solid 3px red;
    width: 200px;
    font-size: 0.7em;
    margin: auto;
}

h4 {
    font-size: 1em;
}

.poster{
    width: 150px;
    margin-bottom: 10%;
}

.post {
    width: 150px;
    margin-bottom: 5%;
    max-width: 190px;
}

.allAffiche {
    padding-top: 5%;
}

.routEl {
    margin: 5%;
}

.allImg{
    width: 107%;
}

.annee{
    text-align: left;
    position: absolute;
    top: 100%;
}